@font-face {
	font-family: 'Empty Font';
	src: url('data:font/woff2;charset=utf-8;base64,d09GMgABAAAAAAKoAA4AAAAABswAAAJRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGh4GYACCUggEEQgKKIEQC1IAATYCJANYBCAFhBMHgQAb7AURFZyNyL464A3Rp54QoVtfdCJhCGPyRQbwO4HXGlAThRkPfo6H7+c+z33JAqMqMasFWUAHrL/wXWfqCcazitqWEf7HWmlBIf88xpCatbyD2xyktAg0D8lMLh56eic8HK+Lf5/nZpzBbygnsgYuj9YAm0M5iu4Flp0e0oHYiRwINzhv6OLT0x3hJlxCwPtyYg4+b/wmuf+JQC3akYQwIeRIyONXvFFGepbGC/BvxEcSiaQsAxAAcOjG9mseWeRONlisciaVQABgUCBDhl4B9skEeuUWoVKlhNUuulNgkYsuF8W7heKtACDKCUAkJABAAACQ5WXlFbch7Ea8OvUNvacyj/r5wzjNy7oBPHCG0m1EIYFJcAgJlagGVIIEFPO8pqwuP0G+dfVQCT8GOxUABIKTK1980XW/K2uyn3XxcTRETKcSKiUQpBLOxAzEtAAA5DFjCGI/lAcmK3FLQghsAlBvQQC6rRAhVLmOpMJDZMa8Q64q6lCmIVael6uKszKRV2EZAKHZYST15pHZ4zFyzf6jTH90vKdcc+y01TzM1c/dYjJ7gnYBrqdIWbeeF0twfILfg5ph6q0trj+VcPhVIHB6WjztBj0SgrkO6UpPAq7B5GXXuANHpcUAiC5JBBvfTYa8mS/quZYMpbiyMB7WU1IDKz45eXCfBqgve9cXzEeRmMc+Ve1VRSKM7x6WKrkQcYZ4kQPLuICUl6xXRhYKsv6jPhYDJEUmEkukMrlCqVL78QQiiUyh0ugMJovN4fL4AqFILJHK5Iryaf9dZ9IYFAA=') format('woff2');
}

@font-face {
	font-family: 'Material Symbols Sharp';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.cn/s/materialsymbolssharp/v171/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxNspTCL.woff2) format('woff2');
}